body {
	background: 				url(../images/wallpaper_default.png);
    display:    				cover;
	font-family:				index;
	color: 						white;
	margin: 					auto;
}

h1,h2,h3,span,p,a {
	font-family:				index;
	color: 						white;
}

p input, p select, textarea {
	font-family: Arial, Helvetica, sans-serif;
}

h2 {
	padding: 0.5%;
}

.success {
	color: green;
}

.failed {
	color: red;
}

#container {
	width: 						80%;
}

#content {
	background-color: 		#3B3A3F;
	padding: 				0.5%;
}

#top, #session_data, #footer {
	background: 				#7c7c7c;
}

#top {
	margin-bottom: 0.5%;
}

#footer {
	margin-top: 0.5%;
}

#session_data {
	text-align:					left;
	float:						right;
}

#session_data a, #session_data img {
	vertical-align: middle;	
}

#top {
	font-family:				index;
	color: 						white;
}

.logoArea {
	float: left;
	text-align: left;

}

.logoArea img {
	position: absolute;
	left: 0;
	border-right: solid green 0.1px;
	height: 100%;
}

th.top {
	color:						red;
	float: 						right;
	text-align:					right;

}

hr {
	margin-left: 5px;
	width: 80%;
	height: 2px;
	border-radius: 30px;
	background-color: white;
}

a {
	color: 						#83caf7;
}

a.userLink {
	color: 						#83caf7;
	text-decoration:			none;
	transition-duration:		0.3s;
}

a.userLink:hover {
	color: 						cyan;
	text-shadow: 				1px 3px 3px cyan;  

}

#loginForm {
	float: right;
}

a.linkLogin {
	color: 						#3d4aff;
	font-size: 					large;
	font-weight: 				bold;
	text-decoration: 			none;
	transition-property:   		color;
    transition-duration:   		0.5s;
}

a.linkLogin:hover {
	color: 						#00ffaa;
	text-shadow:				1px 2px 2px rgba(0,255,0,0.5);
	text-decoration: 			none;
}	

li.results {
	list-style-type: none;
}


a#logout_link {
	color: 						#6ba3c6;
	text-shadow: 				1px 3px 3px #54788e; 
	text-decoration:			none;
	transition-property: 		color,text-shadow;
	transition-duration: 		0.7s;
}

a#logout_link:hover {
	color: 						#e30000;
	text-shadow: 				1px 3px 3px #b50000;
}

.loginDone {
	color:						green;
	font-weight: 				bold;
}

.loginFailed {
	color: 						red;
	font-weight: 				bold;
}

img.user_pic {
	margin: 					10px;
	height: 					150px;
}

#logo {
	width: 						400px;
	height: 					133px;
}

#footer {
	padding: 					10px;
	font-family:				index;
	color: 						white;
}

.footer_title {
	text-shadow: 				1px 3px 3px #cecece;
	float: 						right;
}

.page_name {
	font-family:				index;
	color:						white;

	padding: 2%;
}

p.top {
	text-shadow: 				1px 3px 3px #b20000;
	text-align: 				right;
	padding: 					0.5%;
}

.forum_welcome {
	font-size: 30px;
	text-decoration: none;
	color: white;

	text-align: center;
}

@font-face {
	font-family: 				"index";
	src: 						url("../fonts/bankgthd-webfont.woff");
}

/* Homepage */

table.homepage-table {
	width: 90%;

	border: solid 1px white;

	font-family: index;
	color: white;
}

span.no_birthday {
	color: rgba(119, 119, 119,0.5);
	font-weight: bold;
	font-style: italic;
}

img.birthday_pp {
	height: 40px;
	width: 40px;
	vertical-align: middle;
}

img.lastRegistered_pp {
	width: 100px;
}

/* END Homepage */

/* START Staff management */

div.staffManagement_table {

	margin: auto;
	width: 100%;

	font-family: index;
	color: white;

}

div.staffManagement_table div {

	background-color: #3B3A3F;

}

div#modoPart {
	background: 		linear-gradient(to right top, black, green);
}

div#memberPart {
	background: 		linear-gradient(to right top, black, #4747ff);
}


form.staffManagement_form {
	margin: auto;
	text-align: center;
}

.staffManagement_table , .staffManagement_user {
	font-family: index;
	color: white;
}

img.staffManagement_pp {
	height: 			100px;
	width: 				100px;
}

.changeRoleButton {
	font-size: 50px;
	margin: 5px;
}

/* END Staff management */

/* START Memberlist */

table.table_memberlist {
	margin: 					auto;

	width: 90%;

	font-family:				index;
}

table.table_memberlist {
	vertical-align: middle;
}

table.table_memberlist th,table.table_memberlist td {
	text-align: 				center;
	vertical-align: middle;
}

a.memberlist_namelink {
	text-decoration: none;
	font-weight: bold;
	color: white;
	-moz-transition-property:   color;
    -moz-transition-duration:   0.5s;
}

a.filterLink {
	font-size: large;
	color:	white;
	text-decoration: none;
	-moz-transition-property:   color;
	-moz-transition-duration:   0.5s;
}

a.filterLink:hover, a.memberlist_namelink:hover {
	color:	cyan;
	text-decoration: none;
}

img.memberlist_picture {
	height: 					50px;
	width: 						50px;
}

span.member_role {
	color: 						#4747ff;
	font-weight: 				bold;
}

span.moderator_role {
	color: 						green;
	font-weight: 				bold;
}

span.admin_role {
	color: 						red;
	font-weight: 				bold;
}

/* END Memberlist */

/* START Register */

#register-form {
	margin: auto;
}

.checkIcon {
	width: 20px;
	height: 20px;
	vertical-align: middle;
}

.form-part {
	padding: 2%;
	border: solid 1px white;
	border-radius: 10px;
}

.form-part-title {
	font-size: larger;
	font-weight: bold;

	text-align: center;
}

#register-form hr, .form-part hr {
	background-color: white;
	width: 90%;
	padding: 0.1%;

	margin: auto;
	margin-top: 2%;
	margin-bottom: 2%;
}

#formError li {
	margin: 2%;

	color: DarkRed;
	font-weight: bolder;
	font-family: index;
}

/* END Register */


/* STAFF MANAGEMENT */

#members:first-child, #moderators:first-child {
	margin: auto;
	text-align: center;
}

.member-user, .moderator-user {
	margin: 2%;
	text-align: left;
}

.member-user a, .moderator-user a {
	text-decoration: 	none;
}

.member-user a:hover, .moderator-user a:hover {
	text-decoration: 	none;
}

.member-user a span, .moderator-user a span {
	color: 				white;
	font-weight: 		bold;
	
	transition-property: 		color;
	transition-duration:		0.6s;
}

.member-user a:hover span{
	color: 						cyan;
}

.moderator-user a:hover span{
	color: 						green;
}

.member-user li, .moderator-user li {
	list-style-type: none;	
}

.member-user li span {
	color: #00b5b5;	
}

.member-user li::before {
	content: "▶ ";
	color: #00b5b5;
}

.moderator-user li span {
	color: #00aa00;	
}

.moderator-user li::before {
	content: "▶ ";
	color: #00aa00;
}

/* END STAFF MANAGEMENT */

/* USER MANAGEMENT */

div#memberPart {
	background: 		linear-gradient(to right top, black, #4747ff);
}

div#mutedPart {
	background: 		linear-gradient(to right top, black, rgb(148, 0, 0));
}

div#bannedPart {
	background: 		linear-gradient(to right top, black, #cecece);
}

.userManagement_user li, .moderator-user li {
	list-style-type: none;	
}

.userManagement_user li span {
	color: #00b5b5;	
}

.userManagement_user li::before {
	content: "▶ ";
	color: #00b5b5;
}

.muted li span {
	color: red;	
}

.muted li::before {
	content: "▶ ";
	color: red;
}

.banned li span {
	color: darkgrey;	
}

.banned li::before {
	content: "▶ ";
	color: darkgrey;
}

.userManagement_user {
	margin: 2%;
	border: solid white 2px;
	min-width: 10em;
	width: 30em;
	height: 10%;
	text-align: left;
	box-shadow: 2px -5px 2px rgba(255,255,255,0.8);
}

.userManagement_user .button-area {
	text-align: right;
}

.userManagement_user a span, .moderator-user a span {
	color: 				white;
	font-weight: 		bold;
	
	transition-property: 		color;
	transition-duration:		0.6s;
}

.userManagement_user a:hover span{
	color: 						cyan;
}

img.userManagement_pp {
	height: 			100%;
	position: absolute;
	left: 0;

}

.changeRoleButtonUser {
	margin: 5px;
	padding: 5px;
	background-color: grey;
	text-shadow: 3px 3px 3px black;
	box-shadow: 2px 2px 2px black;
}

.user-action-area {
	padding-bottom: 2%;
}

.userAction {
	text-align: center;
}

.userAction select {
	margin: 2%;
}

/* END USER MANAGEMENT */