nav {
	width: 			100%;
	background: 	linear-gradient(to right top, black, red);
	text-align: center;
}

#home-icon img {
	height: 35px;
}

.navbar-collapse, .navbar-nav li {
	float: left;
	text-align: left;
}

.dropdown-menu {
	background: 	linear-gradient(to right top, black, red);
}

.navbar .nav-item:not(:last-child) {
	margin-right: 35px;
}

.dropdown-toggle::after {
	transition: transform 0.15s linear; 
}

.show.dropdown .dropdown-toggle::after {
	transform: translateY(3px);
}

a.nav-link {
	color: 						white;
	text-decoration: 			none;
	-moz-transition-property:   color;
    -moz-transition-duration:   1s;
}

a.nav-link:hover {
	color: 						red;
}

a.dropdown-item {
	color: 						white;
	text-decoration: 			none;
	transition-property:   		color;
    transition-duration:   		0.5s;
}

a.dropdown-item:hover {
	color: 						gold;
}